html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    position: relative;
    height: 100%;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.menu .link {
    width: 100%;
    text-align: center;
}
.menu h1 {
    font-size: calc(12px + 2vw);
}
.menu a {
    text-decoration: none;
    color: white;
    padding-left: 5%;
    margin-top: 1%;
}
.menu button {
    background-color: #ea3520;
    border-color: #ea3520;
}
.menu button:hover {
    background-color: #A21202;
    border-color: #A21202;
}
