html, body {
    margin: 0;
    height: 100%;
}
body {
    scroll-behavior: smooth;
    background-color: #202020;
    color: white;
}
.container {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.header nav a {
    color: white;
}
.hamburger {
    background-color: white!important;
}
.hamburger-item a {
    color: white!important;
}
.dropdown-menu  a {
    color: black!important;
}
#logo {
    width: 12%;
    align-self: center;
}
#logo img {
    width: 100%;
}
#menu {
    align-self: center;
    min-width: 50%;
}
#menu a {
    color: white;
    text-decoration: none;
}
#menu ul li {
    list-style-type: none;
    float: left;
    padding: 0 5%;
}
.main {
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 2%;
}
.main #intro {
    text-align: center;
}
.main #intro p {
    width: 70%;
    text-align: justify;
    margin: 0 auto 2% auto;
}
.main .alert {
    margin: 0 auto;
}
.main form {
    width: 40%;
    margin: 0 auto;
    padding-top: 1%;
}
.alert.float {
    position: absolute;
    align-self: center;
    top: 50%;
}
